body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 10px 20px;
}

nav .logo {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

header {
    background-color: aquamarine;
    padding: 50px 0;
}

header h1 {
    margin-top: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
}

/* I need to figure out how to put a bit of space in between the columns */
main {
    display: flex;
}

footer.container {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid grey;
}

.button {
    background-color: grey;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: darkmagenta;
    transition: all 500ms;
}

.button.info {
    background-color: aqua;
    color: black;
}

.button.info:hover {
    background-color: lightsalmon;
}

.side-by-side {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.side-by-side img {
    width: 50%;
}
.side-by-side div {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .menu {
        /* Why can't I get this to work? On a mobile
        the nav links should be stacking */
        flex-direction: column;
        margin-bottom: 10px;
    }

    main {
        flex-direction: column;
    }

    .container {
        width: 95%;
    }
}

@media screen and (max-width: 1024px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    /* I can't get this to work for some reason, it never seems to go to 
    80% width?? */
    .container {
        width: 80%;
    }
}
